.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Align items horizontally */
}

.row {
    display: flex;
    justify-content: space-around;
    /* Adjust as needed */
    width: 100%;
}
.card {
    flex: 0 0 30%;
    /* Adjust card width */
    margin-bottom: 20px;
    /* Adjust spacing between cards */
    text-align: center;
    /* Center text inside cards */
    border: 3px solid #ddd;
    /* Add border for better visibility */
    border-radius: 20px;
    /* Add border radius for rounded corners */
    padding: 10px;
    /* Add padding inside cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add box shadow for depth */
}

.card-title {
    margin-top: 10px;
   
    font-size: 1.2em;
   
}

.card-text {
    margin-top: 5px;
    font-size: 1em;

}
/* Top learners */
.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in, transform 500ms ease-in-out; 
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 2000ms ease-out, transform 2000ms ease-in-out; 
  }

 





